<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Logger" type="Nkit.Log.LoggerConfigHandler,Nkit" />
  </configSections>
  <Logger Enable="true" Info="true" Error="true" Warning="true" Fatal="true" Debug="true" FileSize="2048" >
    <OverTime TimeSpan ="day"  Value ="60" />
  </Logger>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
