<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="title" value="XXX抽奖"/>
    <add key="avatarXml" value="avatar.xml"/>
    <add key="giftXml" value="gift.xml"/>
    <add key="DefaultPhoto" value="\avatar\default.jpg"/>
    <add key="ScaleSize" value="120,200"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
