<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AppID" value="150107"/>
    <add key="RabbitMQUri" value="amqp://guest:guest@localhost:5672/" />

    <add key="method" value="highpublish"/>
    <!--<add key="method" value="highreceive"/>-->
    <!--<add key="method" value="subcribepublish"/>-->
    <!--<add key="method" value="subcribereceive"/>-->
    <!--<add key="method" value="publisher"/>-->
    <!--<add key="method" value="consumer"/>-->
  </appSettings>
</configuration>